@import "./fonts.scss";
body{
    font-family: $font-Rubik !important;
}
h1{
    font-family: $font-Sora !important;
}
h2{
    font-family: $font-Poppins !important;
}
h3{
    font-family: $font-Jost !important;
}
p{
    font-family: $font-Rubik !important;
}
a{
    font-family: $font-Kanit !important;
}
.mockup{
    margin-top: -20px !important;
}